* { 
    margin: 0; 
    padding: 0; 
    /* box-sizing: border-box; 
    border: 1px solid gold;  */
   }

h1 {
    font-family: Pokemon GB;
}

a {
    font-family: Pokemon GB;
}

.image-container {
    display: flex;
}